body {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    background-size: 100% 100vh;
    font-family: sans-serif;
}

.nav {
    text-align: center;
}

.nav ul {
    padding: 0;
    list-style: none;
}

.nav ul li {
    display: inline-block;
    width: 5rem;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin: 0 1vw;
    border-radius: 15px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.nav ul li a:hover {
    color: rgb(0, 26, 51);
    background-color: darkorange;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
}


/*Lab 1*/

.calculator-form {
    padding: 10px;
}

.calculator-form p.title-lab1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(42, 21, 226);
}

.calculator-form .width input {
    margin-left: 12px;
}

.calculator-form button {
    margin-left: 85px;
    border-radius: 5px;
    background-color: rgb(33, 13, 145);
    color: white;
    border-style: none;
    padding: 3px 10px;
}

.result-form {
    padding: 10px;
}

.result-form p.title-result {
    font-weight: bold;
    font-size: 20px;
    color: rgb(55, 3, 241);
}