.slider {
    width: 50%;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #ffbb00;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}